{% extends "layout.html" %}

{% block title %}Home page{% endblock %}
{% block content %}

<main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1 style="font-size: 36px;">Welcome To No Trouble Banking! 💜</h1>

      <p style="color: black; font-size: 18px;">
        <b>Banking fără bătăi de cap – pentru toți.</b><br>
        <img src="https://cdn-icons-png.flaticon.com/512/1041/1041916.png" alt="Banking simplu" class="img-fluid my-3" style="max-width: 80px;">
        <br>
        La No Trouble Banking, credem că <i>banii nu ar trebui să fie un stres</i>. De aceea, am creat o aplicație de banking simplă, prietenoasă și accesibilă pentru oricine.
      </p>

      <p style="color: black; font-size: 18px;">
        <b>Misiunea noastră?</b><br>
        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135706.png" alt="Misiune banking" class="img-fluid my-3" style="max-width: 80px;">
        <br>
        Să transformăm bankingul într-o experiență <b>fun</b>, <b>smart</b> și <b>ușor de folosit</b>, indiferent cine ești sau de unde vii.
      </p>

      <p style="color: black; font-size: 18px;">
        <img src="https://cdn-icons-png.flaticon.com/512/3064/3064197.png" alt="Transfer de bani" class="img-fluid my-3" style="max-width: 80px;">
        <br>
        Fie că vrei să-ți deschizi un cont, să economisești, să trimiți bani sau doar să verifici ce mai face portofelul tău digital — suntem aici să te ajutăm, fără complicații.
      </p>
    </div>
  </div>

{% endblock %}
