{% extends "layout.html" %}

{% block title %}Home page{% endblock %}
{% block content %}

<main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1 style="font-size: 36px;">Welcome To No Trouble Banking! 💜</h1>

      <p style="color: black; font-size: 18px;">
        <b>Banking fără bătăi de cap – pentru toți.</b><br>
        <img src="https://cdn-icons-png.flaticon.com/512/1041/1041916.png" alt="Banking simplu" class="img-fluid my-3" style="max-width: 80px;">
        <br>
        La No Trouble Banking, credem că <i>banii nu ar trebui să fie un stres</i>. De aceea, am creat o aplicație de banking simplă, prietenoasă și accesibilă pentru oricine.
      </p>

      <p style="color: black; font-size: 18px;">
        <b>Misiunea noastră?</b><br>
        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135706.png" alt="Misiune banking" class="img-fluid my-3" style="max-width: 80px;">
        <br>
        Să transformăm bankingul într-o experiență <b>fun</b>, <b>smart</b> și <b>ușor de folosit</b>, indiferent cine ești sau de unde vii.
      </p>

      <p style="color: black; font-size: 18px;">
        <img src="https://cdn-icons-png.flaticon.com/512/3064/3064197.png" alt="Transfer de bani" class="img-fluid my-3" style="max-width: 80px;">
        <br>
        Fie că vrei să-ți deschizi un cont, să economisești, să trimiți bani sau doar să verifici ce mai face portofelul tău digital — suntem aici să te ajutăm, fără complicații.
      </p>
    </div>
  </div>
  <div id="carouselExampleControls" class="carousel slide my-5" data-ride="carousel" style="max-width: 100%; margin: 0 auto; position: relative;">
  
    <!-- Transparent header text -->
    <div class="carousel-header-text" style="
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 80px;
            background-color: #6e42c18d;
            color: white;
            padding: 20px 10px;
            font-size: 2rem;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            z-index: 10;
            text-align: left;
          ">
          Banking that includes everyone. No exceptions.
    </div>
  
    <!-- Carousel images -->
    <div class="carousel-inner rounded text-center">
      <div class="carousel-item active">
        <img class="d-inline-block w-100" src="../static/images/disabled-man-in-the-netherlands-banking-using-phone-scaled.jpg" alt="First slide" style="max-height: 600px; height: auto; width: auto; max-width: 100%;">
      </div>
      <div class="carousel-item">
        <img class="d-inline-block w-100" src="../static/images/elderly-woman-looking-camera-while-using-mobile-phone-happy-smiling-grandma_352173-4126.avif" alt="Second slide" style="max-height: 600px; height: auto; width: auto; max-width: 100%;">
      </div>
      <div class="carousel-item">
        <img class="d-inline-block w-100" src="../static/images/istockphoto-1276800829-612x612.jpg" alt="Third slide" style="max-height: 600px; height: auto; width: auto; max-width: 100%;">
      </div>
      <div class="carousel-item">
        <img class="d-inline-block w-100" src="../static/images/a6ec9b27857832ecbfc07940df0b481f315c1910-600x300.avif" alt="Second slide" style="max-height: 600px; height: auto; width: auto; max-width: 100%;">
      </div>
      <div class="carousel-item">
        <img class="d-inline-block w-100" src="../static/images/disabled-man-in-the-netherlands-banking-using-phone-scaled.jpg" alt="Second slide" style="max-height: 600px; height: auto; width: auto; max-width: 100%;">
      </div>
      <div class="carousel-item">
        <img class="d-inline-block w-100" src="../static/images/iStock-1319027194-768x513.jpg" alt="Second slide" style="max-height: 600px; height: auto; width: auto; max-width: 100%;">
      </div>
      <div class="carousel-item">
        <img class="d-inline-block w-100" src="../static/images/GettyImages-1463321021.webp" alt="Second slide" style="max-height: 600px; height: auto; width: auto; max-width: 100%;">
      </div>
      <div class="carousel-item">
        <img class="d-inline-block w-100" src="../static/images/istockphoto-1149279093-612x612.jpg" alt="Second slide" style="max-height: 600px; height: auto; width: auto; max-width: 100%;">
      </div>
      <div class="carousel-item">
        <img class="d-inline-block w-100" src="../static/images/poza1.jpg" alt="Second slide" style="max-height: 600px; height: auto; width: auto; max-width: 100%;">
      </div>
      <div class="carousel-item">
        <img class="d-inline-block w-100" src="../static/images/poza2.jpg" alt="Second slide" style="max-height: 600px; height: auto; width: auto; max-width: 100%;">
      </div>
      <div class="carousel-item">
        <img class="d-inline-block w-100" src="../static/images/poza3.jpg" alt="Second slide" style="max-height: 600px; height: auto; width: auto; max-width: 100%;">
      </div>
      <div class="carousel-item">
        <img class="d-inline-block w-100" src="../static/images/poza4.jpg" alt="Second slide" style="max-height: 600px; height: auto; width: auto; max-width: 100%;">
      </div>
    </div>
  
    <!-- Controls -->
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

{% endblock %}
